<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softeem.fresh.mapper.GoodstypeMapper">
  <resultMap id="BaseResultMap" type="com.softeem.fresh.entity.Goodstype">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="dr" jdbcType="INTEGER" property="dr" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, dr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goodstype
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from goodstype
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.softeem.fresh.entity.Goodstype">
    insert into goodstype (id, name, dr)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{dr,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.softeem.fresh.entity.Goodstype">
    insert into goodstype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="dr != null">
        dr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.softeem.fresh.entity.Goodstype">
    update goodstype
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.softeem.fresh.entity.Goodstype">
    update goodstype
    set name = #{name,jdbcType=VARCHAR},
      dr = #{dr,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--  商品类别分页查询  -->
  <select id="findByPageType" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from goodstype
    <if test="start!=null and size!=null">
      limit #{start},#{size}
    </if>
  </select>

<!--  商品类别总数  -->
  <select id="selectCountType" resultType="int">
  	select count(id) from goodstype
  </select>

<!--  商品类别分页搜索查询  -->
  <select id="findByPageTypeSearch" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from goodstype gt where 1=1
    <if test="search!=null">
      <bind name="searchName" value="'%'+search+'%'"/>
      and gt.name like #{searchName}
    </if>
    <if test="start!=null and size!=null">
      limit #{start},#{size}
    </if>
  </select>

<!--  商品类别搜索总数  -->
  <select id="selectSearchCounttype" parameterType="java.lang.String" resultType="int">
    select count(id) from goodstype gt where 1=1
    <if test="search!=null">
      <bind name="searchName" value="'%'+search+'%'"/>
      and gt.name like #{searchName}
    </if>
  </select>

<!--  查询所有商品类别  -->
  <select id="selectGoodsType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from goodstype
  </select>

<!--  添加商品类别  -->
  <insert id="addGoodsType" parameterType="Map">
    insert into goodstype (id, name, dr)
    values (#{id}, #{name}, #{dr})
  </insert>
</mapper>